@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav */
.FirstNav {
  display: flex;
  gap: 33px;
}
.FirstNav .haver {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
  cursor: pointer;
}
.FirstNav .haver:hover {
  color: #333d4b;
}
.Toggle_nav {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  a {
    text-decoration: none;
    color: rgba(51, 61, 75, 1);
  }
}

/* herosection */

.herosection {
  background-image: url(../Photos/AboutUs_Mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 80px;
}
/* Mobile */
.content {
  padding: 92.5px 24px;
  h1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
  }
  p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
  }
}
/* Tablet */
@media (min-width: 767px) {
  .herosection {
    background-image: url(../Photos/AboutUs_Tablet.png);
    margin-bottom: 96px;
  }
  .content {
    padding-top: 113px;
    padding-left: 48px;
    h1 {
      font-size: 32px;
      line-height: 140%;
    }
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .herosection {
    background-image: url(../Photos/AboutUs_LG.png);
    margin-bottom: 140px;
  }
  .content {
    padding-top: 140px;
    padding-bottom: 134px;
    padding-left: 80px;
    padding-right: 10px;
    h1 {
      font-size: 40px;
    }
  }
}

/* Our_commitment  */

/* Mobile */
.Our_commitment {
  gap: 48px;
  margin-bottom: 80px;
}
.BristaText {
  gap: 20px;
}
h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0px;
  color: rgba(51, 61, 75, 1);
}
p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  color: #83888f;
}

/* Tablet */
@media (min-width: 767px) {
  .Our_commitment {
    margin-bottom: 93px;
    h2 {
      font-size: 40px;
    }
  }
  .BristaText {
    padding-top: 38px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .Our_commitment {
    margin-bottom: 140px;

    gap: 125px;
  }
  .BristaText {
    padding-top: 90px;
  }
}

/* Quality Section */
/* Mobile */
.Quality_Sec {
  background-image: url(../Photos/Quality_Mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px;
}
.coffee_img {
  margin-bottom: -75px;
}
.TextQU {
  /* margin-top: 20px; */
  padding-bottom: 40px;
  padding-top: 112px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 30px;
  h2 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
  }
  p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #83888f;
  }
}
/* Tablet */
@media (min-width: 767px) {
  .Quality_Sec {
    background-image: url(../Photos/Quality\ _Tablet.png);
    margin-bottom: 96px;
  }
  .coffeeTAB_img {
    margin-bottom: -80px;
  }
  .TextQU {
    padding-top: 140px;
    padding-bottom: 64px;
    padding-left: 85px;
    padding-right: 79px;
    h2 {
      font-size: 32px;
    }
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .Quality_Sec {
    background-image: url(../Photos/Quality_LG.png);
    margin-bottom: 140px;
  }
  .coffeeLG_img {
    /* background-color: red; */
    margin-bottom: -400px;
    overflow: hidden;
  }

  .TextQU {
    justify-content: center;
    padding-left: 70px;
    padding-right: 600px;
    h2 {
      font-size: 40px;
    }
  }
}

/* Our headquarters  */
/* Mobile */
#h2ourHead {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(131, 136, 143, 1);
  padding-bottom: 64px;
}
.Parentour {
  .photoMap {
    padding-bottom: 32px;
  }
  .h2_card {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 113.9%;
    letter-spacing: 0px;
    color: rgba(51, 61, 75, 1);
    padding-bottom: 24px;
  }
  p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    padding-bottom: 24px;
  }
}
/* Tablet */
@media (min-width: 767px) {
  #h2ourHead {
    text-align: start;
  }
  .Parentour {
    gap: 60px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .Parentour {
    gap: 220px;
  }
}

/* Footer */
/* Mobile */
.foter {
  background-color: rgba(51, 61, 75, 1);
}
.parentfoot {
  gap: 24px;
  padding: 40px 0;
}
.Navy {
  display: flex;
  gap: 20px;
  .Anlink {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: uppercase;
    color: rgba(131, 136, 143, 1);
  }
  .Anlink:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.social_icons {
  display: flex;
  gap: 20px;
}

.Icon_HovER:hover {
  color: rgba(51, 61, 75, 1);
  background-color: rgba(253, 214, 186, 0.548);
}
/* Tablet */
@media (min-width: 767px) {
  .parentfoot {
    padding: 41px 20px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .parentfoot {
    padding: 48px 80px;
  }
}
