@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Nav */

.FirstNav {
  display: flex;
  gap: 33px;
}
.FirstNav .haver {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
  cursor: pointer;
}
.FirstNav .haver:hover {
  color: #333d4b;
}
.Toggle_nav {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  a {
    text-decoration: none;
    color: rgba(51, 61, 75, 1);
  }
}

/* herosection */

.herosection {
  background-image: url(../Photos/Plan_Mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 64px;
  border-radius: 10px;
}
/* Mobile */
.content {
  padding: 80px 24px;
  h1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
  }
  p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 0.742);
  }
}
/* Tablet */
@media (min-width: 767px) {
  .herosection {
    background-image: url(../Photos/Plan_Tablet.png);
    margin-bottom: 80px;
  }
  .content {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 48px;
    h1 {
      font-size: 72px;
    }
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .herosection {
    background-image: url(../Photos/Plan_LG.png);
    margin-bottom: 140px;
  }
  .content {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 80px;
  }
}

/* Section 2 */
/* Mobile */

.back_coffe {
  background-image: url(../Photos/creat_Mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 48px 16px;
  margin-bottom: 64px;
}
.parentWorks {
  .photNum {
    padding-bottom: 24px;
  }
  .h2workcard {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 113.9%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
    padding-bottom: 24px;
  }
  p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    padding-bottom: 40px;
    color: rgba(254, 252, 247, 0.81);
  }
}
/* Tablet */
@media (min-width: 767px) {
  .back_coffe {
    background-image: url(../Photos/creat_Tablet.png);
    padding: 64px 32px;
    margin-bottom: 80px;
  }

  .workSteps {
    padding-bottom: 64px;
  }
  .parentWorks {
    gap: 32px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .back_coffe {
    background-image: url(../Photos/creat_LG.png);
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 80px;
    margin-bottom: 140px;
  }

  .parentWorks {
    gap: 96px;
    p {
      padding: 0;
    }
  }
}
/* End section  */
/* Mobile */
/* list group */
.lesta {
  padding-bottom: 64px;
}
.FrisstIt {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(51, 61, 75, 1);
  .num1st {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    color: rgba(14, 135, 132, 1);
  }
}
.lesst {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(131, 136, 143, 0.751);
  .NumLest {
    color: rgba(131, 136, 143, 0.49);
  }
}
.The_end {
  margin-bottom: 64px;
}
/* Desktop list group */
@media (min-width: 1024px) {
  .The_end {
    gap: 100px;
    margin-bottom: 80px;
  }
}
/* Accordion  */
.h2_accordion {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0px;
  color: rgba(131, 136, 143, 1) !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
/* Cards */
.Parent_cards {
  gap: 16px;
  & :hover {
    background-color: rgba(253, 214, 186, 1);
  }
}
.CARD_GRY {
  padding: 20px;
  background-color: rgba(244, 241, 235, 1);
  border-radius: 8px;
  &:focus {
    outline: 3px solid rgba(14, 135, 132, 1);
    outline-offset: 3px;
  }
  .Pcard {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    color: rgba(51, 61, 75, 1);
  }
}
.CARD_GREEN {
  padding: 20px;
  background-color: rgba(14, 135, 132, 1);
  border-radius: 8px;
  &:focus {
    outline: 3px solid rgba(14, 135, 132, 1);
    outline-offset: 3px;

  }
  .PcradGreen {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    color: rgba(254, 252, 247, 1);
  }
}
/* Order Summary  */

.summaryBack {
  background-image: url(../Photos/Summary_Mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  padding: 48px 24px;
  margin-bottom: 32px;
}
.PSummary {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.304);
}
.Txt {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}
.GreenText {
  color: rgba(14, 135, 132, 1);
}
/* Desktop*/
@media (min-width: 1024px) {
  .summaryBack {
    margin-bottom: 48px;
  }
}
/* button */
.Buttlast {
  margin-bottom: 64px;
  .lastButton {
    align-self: center;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-style: Black;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
    background-color: rgba(14, 135, 132, 1);
    width: 218px;
    height: 57px;
    border-radius: 6px;
    color: rgba(254, 252, 247, 1);

    &:hover {
      background-color: rgba(102, 210, 207, 1);
    }
    &:focus {
    outline: 3px solid rgba(14, 135, 132, 1);
    outline-offset: 3px;
  }
  }
}
/* Tablet */
@media (min-width: 767px) {
  .Buttlast {
    margin-bottom: 80px;
  }
}
/* Desktop*/
@media (min-width: 1024px) {
  .Buttlast {
    margin-bottom: 140px;
  }
}
/* Footer */
/* Mobile */
.foter {
  background-color: rgba(51, 61, 75, 1);
}
.parentfoot {
  gap: 24px;
  padding: 40px 0;
}
.Navy {
  display: flex;
  gap: 20px;
  .Anlink {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: uppercase;
    color: rgba(131, 136, 143, 1);
  }
  .Anlink:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.social_icons {
  display: flex;
  gap: 20px;
}

.Icon_HovER:hover {
  color: rgba(51, 61, 75, 1);
  background-color: rgba(253, 214, 186, 0.548);
}
/* Tablet */
@media (min-width: 767px) {
  .parentfoot {
    padding: 41px 20px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .parentfoot {
    padding: 48px 80px;
  }
}
